input {
/*    border-style: none; */
}

.choice {
    margin-left: 0.5em;
}

.numericBad,
.numeric {
    width: 6em;
}

.numericBad {
    color: red;
}

.numeric {
    text-align: right;
}

div.calculator {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
div.title {
    font-size: 125%;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #320080; 
    text-align: center;
    margin-bottom: 0.25em;
}
table {
    margin-top: 0.5em;
}

table {
    margin-top: 0.5em;
}

div.label,
th {
    font-weight: bold;
    text-align: left;
}


div.label, table.formula {
    margin-top: 1.5em;
}

div#info {
    display: none;
}

div#bottom {
    width: 4em;
    margin-left: auto;
    margin-right: auto;
}

img#logo {
    width: 4em;
    height: 1.25em;
    margin-top: 3em;
}

tr.actions {
    font-size: 75%;
    margin-top: 0.5em;
    font-weight: bold;
}

a.preset {
    padding-right: 0.75em;
}

@media print {
    input {
        border-style: none;
    }
    th {
        border-bottom: solid;
        border-width: 1px;
    }
    th.formulaLabel {
        border-bottom: none;
    }
    
    img#logo,
    tr.actions {
        display: none;
    }
}
